.TourList{
    position: relative;
    margin-top: 200px;
    width: 97%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 2%;
    h2{
        font-size: 18px;
    }
    &__item{
        position: relative;
        width: 22%;
        background-color: whitesmoke;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
       
        align-items: center;
    &_top{
        width: 95%;
        img{
            width: 100%;
        }
    }
    &_bot{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       line-height: 1.2em;
       p{
        margin-top: 0px;
       }
       button{
        height: 33px;
        font-size: 12px;
        position: absolute;
        bottom: 5px;
        background-color: var(--main);
        color: var(--white);
        border-radius: 7px;
       border: none;
       }
    }
}
&__price{
    top: 0;
    width: 110px;
    height: 32px;
    color: azure;
    background-color: var(--main);
    opacity: 0.79;
   position: absolute;
    border-radius: 3px;
    font-family: 'Montserrat';
    font-size: 16px;

}
&__dates{
    position: absolute;
    top:12px;
    right: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;

}
&__date{
    width: 80px;
    height: 30px;
    border-radius: 3px;
    font-family: 'Montserrat';
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    color: azure;
        background-color: rgba(66, 65, 65, 0.7);
        &:hover{
            background-color: var(--main);
        }
    }
    @media screen and (max-width: 1000px){
        h2{
            font-size: 14px;
        }
    }
    @media screen and (max-width: 768px) {
        display: grid;
        column-gap: 20px;
        grid-template-columns: 1fr 1fr;
        &__item {
          width: 95%;
        }
        &__dates{
            right: 10px;
        }
      }
    
      @media screen and (max-width: 580px) {
        h2{
            font-size: 20px;
        }
        grid-template-columns:  1fr;
        &__item {
          width: 90%;
        }
        
      }


}